{
  "openapi": "3.1.0",
  "info": {
    "title": "PHAN THUẦN XTRA Publisher",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://phanthuanxtra.com"
    }
  ],
  "security": [
    {
      "publisherKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "publisherKey": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/api/publish/v1/media": {
      "post": {
        "operationId": "uploadCover",
        "summary": "Store one conversation image (max 15 MB) as privacy-verified canonical WebP in R2; AVIF may be delivered adaptively",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "openaiFileIdRefs": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 1,
                    "description": "Exactly one JPG, PNG or WebP image, maximum 15 MB. Storage is canonical WebP; delivery may negotiate AVIF with WebP fallback."
                  }
                },
                "required": [
                  "openaiFileIdRefs"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "absolute_url": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "absolute_url": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/publish/v1/posts": {
      "post": {
        "operationId": "createDraft",
        "summary": "Create a private article draft; reuse request_id on retries",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 240
                  },
                  "content": {
                    "type": "string",
                    "maxLength": 100000
                  },
                  "excerpt": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "cover_image": {
                    "type": "string",
                    "description": "Relative /media/ URL returned by uploadCover. Never use temporary ChatGPT URLs."
                  },
                  "request_id": {
                    "type": "string",
                    "minLength": 16,
                    "maxLength": 100,
                    "description": "A unique UUID per new article. Keep identical when retrying this request."
                  }
                },
                "required": [
                  "request_id",
                  "title",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "public_url": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "post": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "title": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "cover_image": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "public_url": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "post": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "title": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "cover_image": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/publish/v1/posts/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "readDraft",
        "summary": "Read the actual saved article and publication status",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "public_url": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "post": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "title": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "cover_image": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateDraft",
        "summary": "Edit an unpublished draft",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 240
                  },
                  "content": {
                    "type": "string",
                    "maxLength": 100000
                  },
                  "excerpt": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "cover_image": {
                    "type": "string",
                    "description": "Relative /media/ URL returned by uploadCover. Never use temporary ChatGPT URLs."
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "public_url": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "post": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "title": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "cover_image": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/publish/v1/posts/{id}/publish": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "operationId": "publishArticle",
        "summary": "Publish the approved draft and return its public URL",
        "x-openai-isConsequential": true,
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "public_url": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "post": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer"
                        },
                        "title": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "cover_image": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
